body {
  /*rgb(35, 37, 43)*/
  background-color: rgb(35, 37, 43);
  color: rgb(211, 211, 211);
  font-family: 'Courier New', sans-serif;
  font-size: 19px;
  font-weight: 300;
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;   
}

.home-greeting {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  
}

.quote {
  background-color: rgb(36, 36, 36);
  padding: 20px 20px
}


.last-update {
  font-style: italic;
  font-size: 14px;
}

button {
  color:black;
  background-color: rgb(240, 240, 240);
  border: 1px solid black;
  border-color: rgb(255, 255, 255);
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
  }

  
button:hover {
  background-color:rgb(35, 37, 43);
  color: white;
}

