* {
    text-align: center;
}

button {
    color: black;
    background-color: white;
    border: 2px solid black;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  
button:hover {
    background-color:black;
    color: white;
  }

