* {
  /*inspecting box models */
  /* border: 2px solid gray; */
  max-width: max-content;
  margin-left: 0.5rem;
}

body {
  background-color: rgb(35, 37, 43);
  color: rgb(211, 211, 211);
  font-family: 'Courier New', sans-serif;
  font-size: 14px;
  max-width: 600px;
}

img {
  max-width: 100%;
  height: auto;
}

.home-greeting {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

.quote {
  background-color: rgb(36, 36, 36);
  padding: 25px;
}

.last-update {
  font-style: italic;
  font-size: 14px;
  padding: 1em;
}

.sitelinks {
  color:rgb(211, 211, 211);
  background-color: transparent;
  border: 1px solid black;
  border-color: rgb(255, 255, 255);
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
  }

.sitelinks:hover {
  background-color: white;
  color: black;
}

